<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLVT.Properties.Settings.QLVT_DATHANGConnectionString"
            connectionString="Data Source=MYPC;Initial Catalog=QLVT_DATHANG;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QLVT.Properties.Settings.QLVT_DATHANGConnectionString1"
            connectionString="Data Source=MYPC\SERVER_1;Initial Catalog=QLVT_DATHANG;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="QLVT.Properties.Settings.QLVT_DATHANGConnectionString2"
            connectionString="Data Source=MYPC\SERVER_1;Initial Catalog=QLVT_DATHANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLVT.Properties.Settings.QLVT_DHConnectionString"
            connectionString="Data Source=MYPC;Initial Catalog=QLVT_DH;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="QLVT.Properties.Settings.QLVT_DHConnectionString1"
            connectionString="Data Source=MYPC\SERVER_1;Initial Catalog=QLVT_DH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLVT.Properties.Settings.QLVT_DHConnectionString2"
            connectionString="Data Source=MYPC;Initial Catalog=QLVT_DH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLVT.Properties.Settings.QLVT_DHConnectionString3"
            connectionString="Data Source=MYPC\SERVER_1;Initial Catalog=QLVT_DH;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QLVT_DHConnectionString1" connectionString="XpoProvider=MSSqlServer;data source=MYPC\SERVER_1;integrated security=SSPI;initial catalog=QLVT_DH" />
    </connectionStrings>
</configuration>